src/main/resources/schema.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:annotation>
        <xsd:appinfo>
            <xsd:schemaBindings>
                <xsd:package name="com.pos.pojos"/>
            </xsd:schemaBindings>
        </xsd:appinfo>
    </xsd:annotation>

    <xsd:complexType name="itemType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="barcode" type="xsd:long"/>
            <xsd:element name="sku" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string"/>
            <xsd:element name="createdDate" type="xsd:dateTime"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="itemJaxb" type="itemType">
    </xsd:element>
</xsd:schema>
